<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/header.css" />
    <link rel="stylesheet" href="/css/footer.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Karla&family=Lora&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"
      integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog=="
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/css/destaques.css" />
  </head>
  <body>
    <header>
      <div><%- include("header")%></div>
      <div class="titleMenu center-block">
        <h1 class="pageName">
          Nossos destaques
          <img class="imgtitulo" src="/images/titulo-destaque.png"/>
        </h1>
        <hr />
      </div>
    </header>
    <main>
      <h2 class="tema">Melhores sobremesas</h2>
      <div class="container">
        <div class="row">
          <div class="col">
            <img src="/images/receitas/teste.png" alt="Pancake" />
            <div class="container__text">
              <h1>Saladas de folhas verdes</h1>
              <div class="container__text__star">
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
              </div>
              <p class="descricao">
                Lorem Ipsum is simply dummy text of the printing and typesetting
                industry. Lorem Ipsum has been the industry's standard dummy
                text ever since the 1500s.
              </p>
              <div class="container__text__timing">
                <div class="container__text__timing_time">
                  <h2>Tempo de Cozimento</h2>
                  <p>30 min</p>
                </div>
                <div class="container__text__timing_time">
                  <h2>Tempo total</h2>
                  <p>40 min</p>
                </div>
                <div class="container__text__timing_time">
                  <h2>QTD Pessoas</h2>
                  <p>5 pessoas</p>
                </div>
              </div>
              <button class="btn">Acesse</button>
            </div>
          </div>
          <div class="col">
            <img src="/images/receitas/teste.png" alt="Pancake" />
            <div class="container__text">
              <h1>Saladas de folhas verdes</h1>
              <div class="container__text__star">
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
              </div>
              <p class="descricao">
                Lorem Ipsum is simply dummy text of the printing and typesetting
                industry. Lorem Ipsum has been the industry's standard dummy
                text ever since the 1500s.
              </p>
              <div class="container__text__timing">
                <div class="container__text__timing_time">
                  <h2>Tempo de Cozimento</h2>
                  <p>30 min</p>
                </div>
                <div class="container__text__timing_time">
                  <h2>Tempo total</h2>
                  <p>40 min</p>
                </div>
                <div class="container__text__timing_time">
                  <h2>QTD Pessoas</h2>
                  <p>5 pessoas</p>
                </div>
              </div>
              <button class="btn">Acesse</button>
            </div>
          </div>
        </div>
      </div>

      <h2 class="tema">Melhores Saladas</h2>
      <div class="container">
        <div class="row">
          <div class="col">
            <img src="/images/receitas/teste.png" alt="Pancake" />
            <div class="container__text">
              <h1>Saladas de folhas verdes</h1>
              <div class="container__text__star">
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
              </div>
              <p class="descricao">
                Lorem Ipsum is simply dummy text of the printing and typesetting
                industry. Lorem Ipsum has been the industry's standard dummy
                text ever since the 1500s.
              </p>
              <div class="container__text__timing">
                <div class="container__text__timing_time">
                  <h2>Tempo de Cozimento</h2>
                  <p>30 min</p>
                </div>
                <div class="container__text__timing_time">
                  <h2>Tempo total</h2>
                  <p>40 min</p>
                </div>
                <div class="container__text__timing_time">
                  <h2>QTD Pessoas</h2>
                  <p>5 pessoas</p>
                </div>
              </div>
              <button class="btn">Acesse</button>
            </div>
          </div>
      
    </main>
    <footer><%- include("footer")%></footer>
  </body>
</html>
