body{
    background-color: #FBF6F3;
}

.imgtitulo {
   height: 100px;
   width: 100px;
   padding: 0;

}

.tema {
    font-size: 2.5em;
    font-weight: bold;
    color: #222222 ;
    margin: 0px 150px 10px ;
}

.col {
    background-color: #FFECE1;
    position: relative;
    display: grid;
    grid-template-columns: 300px 600px;
    border-radius: border-radius;
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.356);
    margin: 0px 40px 50px 40px ;
  }

img {
  width: 300px;
  height: 300px;
  border-radius: 0;
  padding: 20px;
}

.btn {
  position: absolute;
  bottom: -20px;
  right: -20px;
  border: none;
  outline: none;
  display: flex;
  align-items: center;
  background-color: #fd5d5d;
  color: primary-color;
  padding: 22px 45px;
  font-size: 1rem;
  text-transform: uppercase;
  border-radius: border-radius;
  cursor: pointer;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.294);
}

.i {
  margin-left: 20px;
  font-size: 1.5rem;
}

.container__text {
  padding: 40px 40px 0;
  background-color: #FFECE1;
}

.container.h1 {
  color: black-color;
  font-weight: 400;
}

.container__text__star span {
  font-size: 0.8rem;
  color: #ffa800;
  margin: -5px 0 20px;
}

p {
  font-size: 0.9rem;
}
.container__text__timing {
  display: flex;
  margin: 20px 0 10px;
}

.container__text__timing_time {
  margin-right: 40px;
}

h2 {
  margin-bottom: 5px;
  font-size: 1rem;
  font-weight: 400;
  color: #818189;
}
p {
  color: black-color;
  font-weight: bold;
  font-size: 1.2rem;
}

.descricao {
    text-align: left;
}

a:link {
  text-decoration: none;
}

#text-categoria{
  text-align: center;
  margin: 2rem auto;
  width:500px;
}