body{
    background-color: #FBF6F3;
}

.hr2{
    display: flex;
    width: 80%;
    margin: 0 auto;
}

.container {
    width: 70%;
}

.card {
    border-color:rgba(0, 0, 0, 0);
    padding: 2%;
    background-color: rgba(255, 228, 196, 0);
}
